.multiply {
    mix-blend-mode: multiply;
}

.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.yy-base, 
.yy-top,
.ye-base, 
.ye-top1,
.ye-top2,
.yl1, 
.yl2,
.yo-base, 
.yo-top,
.yw-base, 
.yw-top,
.cc1-base, 
.cc1-top,
.co-base, 
.co-top,
.cl1, 
.cl2,
.ce1-base, 
.ce1-top1,
.ce1-top2,
.cc2-base, 
.cc2-top,
.ct-base, 
.ct-top, 
.ci-base, 
.ci-top,
.cv-base, 
.cv-top,
.ce2-base, 
.ce2-top1,
.ce2-top2 {
    position: absolute;
}

.yy-base {
    left: 38px;
    fill: #DC438B;
}
.yy-top {
    left: 0px;
    fill: #FDBA2A;
}
.ye-base {
    left: 135px;
    fill: #DC438B;
}
.ye-top1 {
    left: 135px;
    fill: #FDBA2A;
}
.ye-top2 {
    left: 135px;
    fill: #FDBA2A;
    top: 58px;
}
.yl1 {
    left: 250px;
    fill: #DC438B;
}
.yl2 {
    left: 346px;
    fill: #FDBA2A;
}
.yo-base {
    left: 425px;
    fill: #FDBA2A;
}
.yo-top {
    left: 459px;
    top: 35px;
    fill: #DC438B;
}
.yw-base {
    left: 540px;
    fill: #FDBA2A;
}
.yw-top {
    left: 598px;
    fill: #DC438B;
}

.cc1-base {
    top: 220px;
    left: 0px;
    fill: #3DB6E9;
}
.cc1-top {
    top: 255px;
    left: 35px;
    fill: #FDBA2A;
}
.co-base {
    top: 220px;
    left: 96px;
    fill: #FDBA2A;
}
.co-top {
    top: 255px;
    left: 131px;
    fill: #3DB6E9;
}
.cl1 {
    top: 220px;
    left: 231px;
    fill: #3DB6E9;
}
.cl2 {
    top: 220px;
    left: 328px;
    fill: #FDBA2A;
}
.ce1-base {
    top: 220px;
    left: 425px;
    fill: #3DB6E9;
}
.ce1-top1 {
    top: 220px;
    left: 425px;
    fill: #FDBA2A;
}
.ce1-top2 {
    top: 277px;
    left: 425px;
    fill: #FDBA2A;
}
.cc2-base {
    top: 220px;
    left: 521px;
    fill: #3DB6E9;
}
.cc2-top {
    top: 255px;
    left: 555px;
    fill: #FDBA2A;
}
.ct-base {
    top: 220px;
    left: 655px;
    fill: #FDBA2A;
}
.ct-top {
    top: 220px;
    left: 617px;
    fill: #3DB6E9;
}
.ci-base {
    top: 239px;
    left: 752px;
    fill: #3DB6E9;
}
.ci-top {
    top: 220px;
    left: 752px;
    fill: #FDBA2A;
}
.cv-base {
    top: 239px;
    left: 809px;
    fill: #FDBA2A;
}
.cv-top {
    top: 220px;
    left: 828px;
    fill: #3DB6E9;
}
.ce2-base {
    top: 220px;
    left: 944px;
    fill: #3DB6E9;
}
.ce2-top1 {
    top: 220px;
    left: 944px;
    fill: #FDBA2A;
}
.ce2-top2 {
    top: 277px;
    left: 944px;
    fill: #FDBA2A;
}

.logo-container {
    width: 1100px;
    position: relative;
    height: 350px;
}